* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #77429A;
    --secoundry-color: #E2C4F6;
    --accent-color: ;
    --accent-color-dark: ;
    --padding-inline-section: 20px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

.main-width-container {
    max-width: 1050px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

/* sub-Nav Start*/
.welcome {
    padding: 5px;
    margin: 8px;
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
}

/* sub-Nav End*/

/* nav Start*/
nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-Btns {
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.nav-Btns> :first-child {
    background-color: var(--primary-color);
    padding: 10px 18px;
    color: #ffffff;
    border-radius: 20px;
}

.nav-Btns> :last-child {
    border: 2px solid var(--primary-color);
    padding: 7px 22px;
    border-radius: 20px;
}

/* nav End*/

/* Hero-Section Start */
.hero-section {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.hero-heading {
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.updates-hero {
    background-color: var(--secoundry-color);
    border-radius: 12px;
    padding: 3px 5px;
}

.hero-para {
    width: 300px;
    font-size: 12px;
    text-align: center;
}

.hero-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.hero-btn {
    background-color: var(--primary-color);
    padding: 10px 15px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.hero-circle-row {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.hero-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* crop image inside circle */
    border: 2px solid rgb(51, 51, 51);
    /* white outline like your picture */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* optional soft shadow */
    margin-left: -10px;
}

.hero-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps face centered */
}

/* Hero-Section End */

/* Main Start */
/* Desktop Section Start */
.desktop {
    background-color: #E2C4F6;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    margin-top: 150px;
}

.desktop>img {
    border-radius: 12px;
}

.desktop-total-visits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 170px;
    height: 80px;
    padding: 5px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    right: 80px;
    top: 750px;

}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.desktop-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 160px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 950px;
    left: 80px;

}

.desktop-dashboard>h3 {
    position: absolute;
    top: 8px;
    left: 10px;

}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashBoard-Text {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

/* Desktop Section End */

/* Desktop Background Section Start */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 400px;
    margin-top: -200px;
}

.background p {
    margin-top: 200px;
    color: #ffffff;
}

.background>div {
    display: flex;
    margin-top: 40px;
    gap: 15px;
}

/* Desktop Background Section End */

/* Smart Advantages Section Start */
.Smart-Advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.Smart-Advantages p {
    width: 420px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.Smart-Advantages-main-boxes {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.Smart-Advantages-box {
    display: flex;
    position: relative;
    gap: 20px;
    width: 300px;
    height: 200px;
    background-color: #c5d2ff;
    border-radius: 16px;
}

.Smart-Advantages-box-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.Smart-Advantages-box-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18%;
    left: 8%;
}

.Smart-Advantages-box-img3 {
    position: absolute;
    top: 18%;
    left: 50%;
}

.Smart-Advantages-secound-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Smart-Advantages-secound-box p {
    font-size: 12px;
    width: 220px;
    margin-top: -0px;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

/* Smart Advantages Section End */

/* Web App Managenment Section Also A candidate section Start  */
.web-app-managnment {
    display: flex;
    margin-top: 80px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.list-of-webmanage {
    margin-top: 30px;
}

.web-app-managnment-left {
    background-color: #E5D6FF;
    padding: 50px 35px;
    width: 380px;
    height: 385px;
    border-radius: 12px;
    position: relative;
}

.web-app-managnment-left img {
    position: absolute;
    top: 8%;
}

.web-app-managnment-right h1 {
    width: 350px;
}

.web-app-managnment-right p {
    width: 320px;
    font-size: 12px;
}

.task-circle {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.candidate-img-right {
    background-color: #E5D6FF;
    padding: 50px 35px;
    width: 380px;
    height: 385px;
    border-radius: 12px;
    position: relative;
}

.candidate-img-right img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Web App Managenment Section Also A candidate section Start  */

/* Platform Offers Start */

.platform-offers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 50px 100px;
    color: #ffffff;
    height: 450px;
    margin-top: 70px;
    background-color: var(--primary-color);
}

.platform-offers h2 {
    font-family: sans-serif;
}

.platform-offers-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.platform-offers-box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    height: 120px;
    background-color: var(--secoundry-color);
    padding: 14px 20px;
    border-radius: 18px;
    color: black;
    text-align: start;
}

.platform-offers-box-1 img {
    border-radius: 50%;
}

.platform-offers-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.platform-offers-box-1 p {
    font-size: 12px;
}

.platform-offers-box-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    height: 120px;
    padding: 14px 20px;
    border: 1px solid wheat;
    color: #ffffff;
    border-radius: 18px;
    text-align: start;
}

.platform-offers-box-2 img {
    border-radius: 50%;
}

.platform-offers-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.platform-offers-box-2 p {
    font-size: 12px;
}

/* Platform Offers End */

/* Pricing Section Start */
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.main-price-box-container {
    display: flex;
    align-items: center;
}

.pricing p {
    width: 500px;
    font-size: 12px;
    margin-top: 10px;
}

.price-box-1 {
    text-align: start;
    border-radius: 12px;
    height: 380px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 12px 18px;
    align-items: start;
    margin-top: 35px;

}

.price-text {
    margin-top: 10px;
}

.price-box-1 p {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.price-box-1-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-btn>button {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    align-content: center;
    width: 250px;
    cursor: pointer;
    height: 35px;
    border-radius: 50px;
    transition-duration: 500ms;
    border: none;
}

.price-btn>button:hover {
    background-color: black;
    transform: scale(0.9);
}

.price-box-2 {
    text-align: start;
    border-radius: 20px;
    height: 410px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: black;
    align-items: start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;

}

.price-box-2 p {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.price-box-2-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 18px;
}

.price-text-2 {
    padding: 20px 18px;
    border-radius: 20px 20px 0 0;

    background-color: #E5D6FF;
}

.price-btn-2 {
    padding: 0 18px;
}

.price-btn-2>button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    align-content: center;
    width: 250px;
    height: 35px;
    border-radius: 50px;
    transition-duration: 500ms;
    border: none;
}

.price-btn-2>button:hover {
    background-color: black;
    transform: scale(0.9);
}

/* Pricing Section End */

/* About Us Section Start */
.about-us {
    display: flex;
    padding: 20px;
    background: url(./Images/Group.png) center/cover no-repeat;
    background-color: #f8e5ffad;
    height: 600px;
    margin-top: 70px;
    gap: 50px;
    justify-content: center;
}

.about-us-left {
    margin-top: 50px;
}

.about-us h1 {
    width: 300px;
}

.about-us p {
    width: 290px;
    font-size: 12px;
    margin-top: 10px;
}

.about-us-rating {
    margin-top: 10px;
    font-size: 18px;
}

.about-us-main-box {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    gap: 20px;
}

.about-us-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;

    border-radius: 15px;
    width: 230px;

}

.about-us-box p {
    line-height: 15px;
    font-size: 12px;
    width: 220px;

}

.about-us-secpund-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.about-us-secpund-text>img {
    border-radius: 50%;

}

.about-us-secpund-text>div>p {
    margin-top: 0px;
    margin-left: 10px;
}

.about-us-secpund-text>div>h4 {

    margin-left: 10px;
}

/* About Us Section End */

/* Questions Section Start */
.questions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.questions-h1-p {
    width: 420px;
    text-align: center;
}

.questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.questions-p {
    width: 580px;
    margin-bottom: 10px;
}

.question-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    width: 600px;
    padding: 5px;
    color: #ffff;
    border-radius: 30px;
    margin-bottom: 10px;
}

.question-1-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;

}

.question-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 600px;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.question-2-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.question-2-circle>img {
    transform: rotate(180deg);
}

/* Questions Section End */

/* R2Care Section Start */

.R2Care {
    box-shadow: rgba(117, 117, 117, 0.24) 0px 3px 8px;
    background: url(./Images/Group.png) center / cover no-repeat;
    background: linear-gradient(180deg, rgba(148, 104, 177, 1) 44%, rgba(224, 224, 224, 0.57) 100%);
    align-content: center;
    margin-top: 70px;
    margin-bottom: -70px;
    border-radius: 20px;
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}

.logo-img {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}

.logo-img-1 {
    opacity: 0.6;
    position: absolute;
    right: 0;
    bottom: 0;
}

.R2Care-text {
    text-align: center;
}

.R2Care-text div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}

.R2Care-Btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* R2Care Section End */

/* Footer Section Start */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 350px;
}

footer ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer-content {
    display: flex;
    gap: 100px;
    margin-top: 40px;
}

.line {
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 2px white solid;
    border-radius: 50%;
}

.footer-display {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Mini Footer Start */

.minifooter {
    background-color: #ebebeb;
    height: 45px;
    width: 100%;
}

.mini-footer-display {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
/* Mini Footer Start */

/* Footer Section End */
