* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #77429A;
    --secoundry-color: #E2C4F6;
    --accent-color: ;
    --accent-color-dark: ;
    --padding-inline-section: 20px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

.main-width-container {
    max-width: 1050px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

/* sub-Nav Start*/
.welcome {
    padding: 5px;
    margin: 8px;
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
}

/* sub-Nav End*/

/* nav Start*/
nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-Btns {
    display: flex;
    gap: 10px;
}

.nav-Btns> :first-child {
    background-color: var(--primary-color);
    padding: 10px 18px;
    color: #ffffff;
    border-radius: 20px;
}

.nav-Btns> :last-child {
    border: 2px solid var(--primary-color);
    padding: 7px 22px;
    border-radius: 20px;
}

/* nav End*/

/* Hero-Section Start */
.hero-section {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.hero-heading {
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.updates-hero {
    background-color: var(--secoundry-color);
    border-radius: 12px;
    padding: 3px 5px;
}

.hero-para {
    width: 300px;
    font-size: 12px;
    text-align: center;
}

.hero-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.hero-btn {
    background-color: var(--primary-color);
    padding: 10px 15px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    font-size: 13px;
}

.hero-circle-row {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.hero-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* crop image inside circle */
    border: 2px solid rgb(51, 51, 51);
    /* white outline like your picture */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* optional soft shadow */
    margin-left: -10px;
}

.hero-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps face centered */
}

/* Hero-Section End */

/* Main Start */
/* Desktop Section Start */
.desktop {
    background-color: #E2C4F6;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    margin-top: 150px;
}

.desktop>img {
    border-radius: 12px;
}

.desktop-total-visits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 170px;
    height: 80px;
    padding: 5px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    right: 80px;
    top: 750px;

}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.desktop-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 160px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 950px;
    left: 80px;

}

.desktop-dashboard>h3 {
    position: absolute;
    top: 8px;
    left: 10px;

}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashBoard-Text {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

/* Desktop Section End */

/* Desktop Background Section Start */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 400px;
    margin-top: -200px;
}

.background p {
    margin-top: 200px;
    color: #ffffff;
}

.background>div {
    display: flex;
    margin-top: 40px;
    gap: 15px;
}

/* Desktop Background Section End */

/* Smart Advantages Section Start */
.Smart-Advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.Smart-Advantages p {
    width: 420px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.Smart-Advantages-main-boxes {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.Smart-Advantages-box {
    display: flex;
    position: relative;
    gap: 20px;
    width: 300px;
    height: 200px;
    background-color: #c5d2ff;
    border-radius: 16px;
}

.Smart-Advantages-box-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.Smart-Advantages-box-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18%;
    left: 8%;
}

.Smart-Advantages-box-img3 {
    position: absolute;
    top: 18%;
    left: 50%;
}

.Smart-Advantages-secound-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Smart-Advantages-secound-box p {
    font-size: 12px;
    width: 220px;
    margin-top: -0px;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

/* Smart Advantages Section End */

/* Web App Managenment Section Also A candidate section Start  */
.web-app-managnment {
    display: flex;
    margin-top: 80px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.list-of-webmanage {
    margin-top: 30px;
}

.web-app-managnment-left {
    background-color: #E5D6FF;
    padding: 50px 35px;
    width: 380px;
    height: 385px;
    border-radius: 12px;
    position: relative;
}

.web-app-managnment-left img {
    position: absolute;
    top: 8%;
}

.web-app-managnment-right h1 {
    width: 350px;
}

.web-app-managnment-right p {
    width: 320px;
    font-size: 12px;
}

.task-circle {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.candidate-img-right {
    background-color: #E5D6FF;
    padding: 50px 35px;
    width: 380px;
    height: 385px;
    border-radius: 12px;
    position: relative;
}

.candidate-img-right img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Web App Managenment Section Also A candidate section Start  */

/* Platform Offers Start */

.platform-offers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding:  50px 100px;
    color: #ffffff;
    height: 450px;
    margin-top: 70px;
    background-color: var(--primary-color);
}

.platform-offers h2 {
    font-family: sans-serif;
}

.platform-offers-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.platform-offers-box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    height: 120px;
    background-color: var(--secoundry-color);
    padding: 14px 20px ;
    border-radius: 18px;
    color: black;
    text-align: start;
}

.platform-offers-box-1 img {
    border-radius: 50%;
}

.platform-offers-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.platform-offers-box-1 p {
    font-size: 12px;
}

.platform-offers-box-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    height: 120px;
    padding: 14px 20px ;
    border: 1px solid wheat;
    color: #ffffff;
    border-radius: 18px;
    text-align: start;
}

.platform-offers-box-2 img {
    border-radius: 50%;
}

.platform-offers-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.platform-offers-box-2 p {
    font-size: 12px;
}
/* Platform Offers End */

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.pricing p {
    width: 500px;
    font-size: 12px;
}